  <h1>Your Profile</h1>
  <%= image_tag @student.avatar.url(:medium) %>
 <p>
   Name: <%= @student.name %>
 </p>
 <p>
   Cohort: <%= @student.cohort %>
 </p>

<table class="table">
  <tr>
    <th>Project</th>
    <th>Module</th>
    <th></th>
  </tr>
  <% @student.projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, student_my_project_path(@student, @student.my_projects.find_by(project_id: project.id).id) %></td>
    <td><%= project.module %></td>
    <td><%= link_to "Delete", student_my_project_path(@student, project), method: :delete %></td>
  </tr>
  <% end %>
</table>

<div class="paired">
  <h3>Students You Have Worked With</h3>
  <ul>
    <% @student.paired.each do |pair| %>
    <li><%= pair %></li>
    <% end %>
  </ul>
</div>

<div class="unpaired">
  <h3>Students You Haven't Worked With</h3>
  <ul>
    <% @student.unpaired.each do |pair| %>
    <li><%= pair %></li>
    <% end %>
  </ul>
</div>

<% if @student.id == current_user.id %>
  <%= link_to "Edit Profile", edit_student_path(@student) %>
    <%= link_to "Add a Project to Your List", new_student_my_project_path(@student) %>
<% end %>
