  <h1>Your Profile</h1>
 <p>
   Name: <%= @student.name %>
 </p>
 <p>
   Cohort: <%= @student.cohort %>
 </p>

<table class="table">
  <tr>
    <th>Project</th>
    <th>Module</th>
    <th></th>
  </tr>
  <% @student.projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, student_my_project_path(@student, @student.my_projects.find_by(project_id: project.id).id) %></td>
    <td><%= project.module %></td>
    <td><%= link_to "Delete", student_my_project_path(@student, project), method: :delete %></td>
  </tr>
  <% end %>
</table>



<% if @student.id == current_user.id %>
  <%= link_to "Edit Profile", edit_student_path(@student) %>
    <%= link_to "Add a Project to Your List", new_student_my_project_path(@student) %>
<% end %>
