  <h1>Your Profile</h1>
 <p>
   Name: <%= @student.name %>
 </p>
 <p>
   Cohort: <%= @student.cohort %>
 </p>

<p>
  <% @student.projects.each do |project| %>
    <%= project.name %>
    <%= project.module %>
    <%= link_to "Delete", student_my_project_path(@student, project), method: :delete %>
  <% end %>
</p>


<% if @student.id == current_user.id %>
  <%= link_to "Edit Profile", edit_student_path(@student) %>
    <%= link_to "Add a Project to Your List", new_student_my_project_path(@student) %>
<% end %>
